@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mistral';
    font-style: normal;
    font-weight: normal;
    src: local('Mistral'), url('/fonts/MISTRAL.woff') format('woff');
}

.font-mistral {
    font-family: 'Mistral', sans-serif;
}

@font-face {
    font-family: 'JohnstownDemo';
    font-style: normal;
    font-weight: normal;
    src: local('JohnstownDemo'), url('/fonts/JohnstownDemoRegular.woff') format('woff');
}

.font-johnstowndemo {
    font-family: 'JohnstownDemo', sans-serif;
}

nav, p, span {
    font-family: 'Century Gothic', sans-serif;
}

nav {
    font-size: 18px;
    line-height: 30px;
}

p {
    font-size: 18px;
    line-height: 27px;
}

span {
    font-size: 20px;
    line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}